[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1"
environs = "*"
psycopg2-binary = "*"
coverage = "*"
flake8 = "*"
radon = "*"
flake8-polyfill = "*"
bandit = "*"
twine = "*"
m2r = "*"
flake8-django = "*"
mistune = "==0.8.4"

[dev-packages]

[requires]
python_version = "3.8"
